* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    min-height: 100vh;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    border-radius: 9px;
    background-color: rgba(62,79,98,255);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 25px;
    width: 400px;
    border: 2px solid black;
    color: white;
    font-weight:bold;
    font-size: 15px;
}

h1 {
    color: black;
    background-color: rgb(255, 255, 255);
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: end;
    border: 2px solid black;
    min-height: 79.5px;
}

.buttons .clear {
    color: white;
    align-self: center;
    padding-top: 10px;
    padding-bottom: 10px;
    grid-column: span 2;
    border-radius: 4px;
    background-color:cornflowerblue;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content:center;
}

.buttons .delete {
    color: white;
    align-self: center;
    padding-top: 10px;
    padding-bottom: 10px;
    grid-column: span 2;
    border-radius: 4px;
    background-color: rgba(245,108,120,255);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content:center;

}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.buttons div {
    border-radius: 8px;
    background-color: rgba(243,245,242,255);
    color: black;
    border: 2px solid black;
    margin: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.buttons div:hover {
    cursor: pointer;
}

.buttons .equals {
    background-color: rgb(57, 217, 13);
}

.buttons .divide,
.buttons .multiply,
.buttons .subtract,
.buttons .add {
    background-color: rgba(197,195,195,255);
}

