* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    min-height: 100vh;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    border-radius: 9px;
    background-color: rgb(242, 240, 235);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 25px;
    width: 400px;
    border: 2px solid black;
    color: white;
    font-weight:bold;
    font-size: 15px;
}

h1 {
    color: black;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    width: 100%;
    text-align: right;
    border: 2px solid black;
}

.clear-delete {
    display: flex;
    justify-content: space-around;
}

.clear-delete div {
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 7px 50px;
    border: 2px solid black;
}

.clear {
    border-radius: 2px;
    background-color:cornflowerblue;
}

.delete {
    border-radius: 2px;
    background-color: red;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.buttons div {
    border-radius: 4px;
    background-color: rgb(184, 181, 173);
    border: 2px solid black;
    margin: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}